MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/nudge?retryWrites=true&w=majority
PORT=5000
TWILIO_ACCOUNT_SID=ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_AUTH_TOKEN=your_twilio_auth_token
TWILIO_WHATSAPP_NUMBER=+14155238886
ADMIN_PASSCODE=choose-a-secret-passcode
BUSINESS_NAME=Nudge Demo Salon